#List [ ] ; 대괄호를 이용해서 데이터를 넣는다
sub1.append(‘영어’) ; 리스트에 추가하기(새로운 인덱스 추가)
sub1.insert(0’, 한국사’) ; 인덱스 삽입 , 삽입하고자하는 위치를 쓰고 ‘명칭’ 
sub1. remove(‘수학’) ; 인데스 삭제

#Tuple ( ) ; 소괄호를 사용해서 데이터를 만든다
;자료구조 내 순서가 존재
;한 번 선언된 튜풀은 변경이 불가능
Packing / Unpacking
t2 = 100, 20, 3000, 40 ; tuple를 만든다
a, b, c, d = t2 ; tuple내 각 값을 나누어 저장가능 (변수를) 지정한다

#Set { } ; 중괄호를 사용하여 데이터를 만든다
;집합 (밴다아어그램을 연상)
;순서는 없고, 중복된 수 없음(중복을 허용하지 않음)
;데이터 자료구조내의 순서가 존재하지 않음
;s1.undate([100]) ; 값을 추가할 수 있음
;s1.remove(100) ; 값을 삭제할 수 있음
;집합 연산도 가능
s1 = {1,2,3,4,5,6,7}
s2 = {5,6,7,8,9}
s1 & s2 ;교집합 ; intersection
s1 | s2 ; 합집합 ; union
s1 - s2 ; 차집합 ; difference
s1 ^ s2 ; 대상차집합 ; 공통원소 이외의 것을 출력 ;

#Dictionary
;Key : value
;쌍으로 이루어진 형태 
dic1 = {“점수”:100, “이름” : “홍길동”}
;get
dic.get(‘이름’)  =>’홍길동’ 출력
;모든 키값 확인
dic1.keys()
dic1.values()

#조건문
;특정 상황에 대한 판단 또는 조건에 대한 실행여부를 결정
; if
; 들여쓰기가 필요
; if 뒤에 : 이있고 이 문법 안의 행위는 뛰어쓰기를 한다

In [ ]:
a = 10
if a > 50:
	print('a는 50보다 크다')
else:
	print('a는 50보다 작다')

a느ㄴ 50보다 작다

In [6]:
#다중조건문
score = 65
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

F

#input ; 입력받아 변수선언 ; 문자형태로 받는다
	;숫자형태로 받고 싶은 경우
	int(input(“점수를 입력해 주세요”)) ; 이렇게 하면 숫자(int)형태로 입력을 받는다.

#반복문
;특정 수식이나 기능을 반복 수행할 때 사용

;while ; 반복횟수가 정해지지 않음
	;break 를 만나면 끝냄
;for ; 특정범위나 특정 횟 수 만큼 반복
;list 형태로 넣으면

In [7]:
for i in [100,200,300,400] :
	print(i)

100
200
300
400

In [2]:
list_score = [] # 성적들을 저장할 빈 리스트를 만듭니다.

In [3]:
data3 = int(input('성적을 입력하시오 : '))
list_score.append(data3)

if data3 >= 90:
    print('A')
elif data3 >= 80:
    print('B')
elif data3 >= 70:
    print('C')
else:
    print('D')

B

#학점도 같이 저장하고 싶다
list_score = []
list_score2 = []

In [9]:
#학점도 같이 저장하고 싶다
list_score = []
list_score2 = []

In [14]:
data3 = int(input('성적을 입력하시오 : '))
list_score.append(data3)

if data3 >= 90:
	print('A')
	list_score2.append('A')
elif data3 >= 80:
	print('B')
	list_score2.append('B')
elif data3 >= 70:
	print('C')
	list_score2.append('C')
else :
	print('D')
	list_score2.append('D')
print(list_score)
print(list_score2)

A
[80, 40, 90, 90, 100]
['B', 'D', 'A', 'A', 'A']

In [16]:
#for문을 이용한 통계
sum_score = 0
for i in range(1,11):
	sum_score = sum_score + i
print(sum_score)

55

In [17]:
sum_score2 = 0
for j in [10,50,100]:
	sum_score2 = sum_score2 + j
print(sum_score2)

160

In [18]:
sum_score3 = 0
list1 = [10,20,30,50,80,90]
for k in list1:
	sum_score3 = sum_score3 + k
print(sum_score3)
print(sum_score3/len(list1))

280
46.666666666666664

#함수
- 입력값 / 출력값, input - output
- 특정 동작을 수행하는 구문을 하나의 기능으로 정의 
- 한번 실행된 함수는 계속해서 사용할 수 있다.

In [19]:
def func1(x):
	y = x + 20
	return y

In [20]:
func1(100)

120

In [22]:
def func2(data):   # parameter
	output = data **3 +50
	return output
func2(2)

58

In [23]:
def func3(x):
	if x>50:		
		return x+30
	else:
		return x **5  #5제곱

In [24]:
func3(2)

32

In [26]:
func3(100)

130

In [30]:
def func1(x): 
	y = x *20 + 40 **2
	return y
func1(2)

1640

In [31]:
num1 = func1(2)  #이 값을 변수로 선언 할 수 있다.

In [32]:
#함수는 입력값이 없어도 사용할 수 있다.
def func2():
	return 'Python'
func2()

'Python'

In [33]:
def func3(x):	#출력값이 없이 (return)함수를 구성
	print(x)
func3(200)

200

In [34]:
num4 = func3(300)

300

#print 도 함수이기 때문에 ‘return’이라는 함수를 사용해서 값을 넣어 함수의 값을 사용한다
#변수를 사용해서 값을 사용하거나 확인을 하고자 하는 경우 ‘retrun’을 사용해서 변수에 값을 입력하는 습관을 가져야 한다.
#즉, 입력이 있으면 출력이 있어야 한다.

In [35]:
def score_func1(x):
	if x >= 90:
		return 'A'
	elif x >=80:
		return 'B'
	else:
		return 'C'

In [36]:
num1 = input('성적을 입력하시오.  ') #기본적으로 문자형
num2 =  float(input('성적을 입력하시오.  '))   	#float 함수는 실수 형태로 값을 받는다.
score_func1(num2)

'A'

In [ ]:
def func2():
	x = input('값을 입력하시오')
	return x

'90'

In [47]:
func2()

'100'

In [54]:
def func3():
    x = float(input('테이터를 입력하시오. '))
    if x >= 90:
        return 'A'
    elif x >= 80:
        return 'B'
    elif x >= 70:
        return 'C'
    else:
        return 'D'

In [58]:
func3()

'B'

# 실무데이터 불러와서 데이터 프레임 다루기