# 판다스로 데이터 프레임 다루기

In [2]:
import pandas as pd

In [3]:
pd.read_csv('example.csv')

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

In [4]:
import os
current_directory = os.getcwd()
print("Current Directory:", current_directory)

Current Directory: /Users/jang-kiduk/Documents/Python/exam

In [5]:
file_path = '/Users/jang-kiduk/Documents/Python/exam/example.csv'
df1 = pd.read_csv(file_path)

In [10]:
df1.head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

In [11]:
df1.shape

(705571, 20)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

In [ ]:
df1.describe() #연속형 데이터의 통계량을 보여줌

,공급월,공급주차,회원번호,구매수량,연령,구매금액,반품_원거래일자
count,705571.000000,705571.000000,7.055710e+05,705571.000000,705538.000000,7.055710e+05,1.123400e+04
mean,3.510817,13.500022,7.390639e+08,1.138203,50.756234,1.092004e+04,2.018034e+07
std,1.719153,7.517818,4.251288e+08,0.754448,11.418854,1.670323e+04,5.229237e+02
min,1.000000,1.000000,1.876416e+07,-50.000000,1.000000,-6.662160e+05,2.017121e+07
25%,2.000000,7.000000,3.906917e+08,1.000000,42.000000,4.116000e+03,2.018021e+07
50%,4.000000,13.000000,7.456573e+08,1.000000,49.000000,7.275000e+03,2.018040e+07
75%,5.000000,20.000000,1.045186e+09,1.000000,58.000000,1.263500e+04,2.018052e+07
max,6.000000,26.000000,1.670621e+09,50.000000,108.000000,2.751014e+06,2.018063e+07

In [6]:
df1.tail() #마지막 5개 행을 보여줌

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

In [7]:
df1.isnull().sum() # 결측치가 있는지 확인하는 방법

공급일자             0
요일               0
공급월              0
공급주차             0
회원번호             0
조합원상태            0
물품대분류            0
물품중분류            0
물품소분류            0
물품명              0
구매수량             0
주소-구             0
주소-동             0
성별               5
연령              33
연령대             33
구매금액             0
구매매장             0
반품_원거래일자    694337
구매시각             0
dtype: int64

In [8]:
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

# 데이터 추출

In [9]:
df1['구매금액']# 데이터 추출

0         22207
1          4977
2          7083
3           766
4          4403
          ...
705566     9189
705567     5169
705568     7466
705569     3542
705570     1914
Name: 구매금액, Length: 705571, dtype: int64

In [10]:
df1['구매금액'].sum()

7704862190

In [11]:
df1['구매금액'].describe() # 구매금액의 통계량을 보여줌

count    7.055710e+05
mean     1.092004e+04
std      1.670323e+04
min     -6.662160e+05
25%      4.116000e+03
50%      7.275000e+03
75%      1.263500e+04
max      2.751014e+06
Name: 구매금액, dtype: float64

In [12]:
df1[['구매금액', '성별']] # 두개 이상의 열을 추출 할 때는 리스트로 묶어준다([]대괄호로 묶어준다)

         구매금액 성별
0       22207  여
1        4977  여
2        7083  여
3         766  여
4        4403  여
...       ... ..
705566   9189  여
705567   5169  여
705568   7466  여
705569   3542  여
705570   1914  여

[705571 rows x 2 columns]

# 시리즈 형태로 데이터를 가지고 오고 싶은 경우는 대괄호 하나 []
# 데이터 프레임 형태로 데이터를 가지고 오고 싶은 경우는 대괄호 두개[[]]

In [13]:
 df2 = df1[['구매금액', '성별']] # 데이터 프레임을 가져오기를 한 경우 변수를 지정할 수 있다.
 df2.head()

    구매금액 성별
0  22207  여
1   4977  여
2   7083  여
3    766  여
4   4403  여

#실무 데이터 처리
- 데이터 행 추출
- 데이터 정렬 및 필터링

In [14]:
import pandas as pd

In [15]:
pd.read_csv('example.csv')
print(df1.shape)
df1.head()

(705571, 20)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

- DataFrame : Column(목록의 갯수) / Index(행의 갯수) / Value 로 이루어져 있다.

In [16]:
 df1.index

RangeIndex(start=0, stop=705571, step=1)

In [17]:
df1.values

array([['2018-01-02', '화', 1, ..., '매장C', nan, '10:04'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ...,
       ['2018-06-30', '토', 6, ..., '매장A', nan, '14:37'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '18:04'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '16:36']], dtype=object)

In [32]:
df1. describe()# 연속형 데이터의 통계량을 보여줌

,공급월,공급주차,회원번호,구매수량,연령,구매금액,반품_원거래일자
count,705571.000000,705571.000000,7.055710e+05,705571.000000,705538.000000,7.055710e+05,1.123400e+04
mean,3.510817,13.500022,7.390639e+08,1.138203,50.756234,1.092004e+04,2.018034e+07
std,1.719153,7.517818,4.251288e+08,0.754448,11.418854,1.670323e+04,5.229237e+02
min,1.000000,1.000000,1.876416e+07,-50.000000,1.000000,-6.662160e+05,2.017121e+07
25%,2.000000,7.000000,3.906917e+08,1.000000,42.000000,4.116000e+03,2.018021e+07
50%,4.000000,13.000000,7.456573e+08,1.000000,49.000000,7.275000e+03,2.018040e+07
75%,5.000000,20.000000,1.045186e+09,1.000000,58.000000,1.263500e+04,2.018052e+07
max,6.000000,26.000000,1.670621e+09,50.000000,108.000000,2.751014e+06,2.018063e+07

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

In [19]:
df1['구매금액']

0         22207
1          4977
2          7083
3           766
4          4403
          ...
705566     9189
705567     5169
705568     7466
705569     3542
705570     1914
Name: 구매금액, Length: 705571, dtype: int64

In [20]:
df1[['구매금액']]

         구매금액
0       22207
1        4977
2        7083
3         766
4        4403
...       ...
705566   9189
705567   5169
705568   7466
705569   3542
705570   1914

[705571 rows x 1 columns]

In [21]:
df1[['구매금액','물품대분류', '물품중분류']]

         구매금액 물품대분류  물품중분류
0       22207    과실     과일
1        4977    채소     버섯
2        7083   축산물      알
3         766    반찬  두부/유부
4        4403    간식      빵
...       ...   ...    ...
705566   9189    수산    건어물
705567   5169    수산     해조
705568   7466    반찬  두부/유부
705569   3542    간식     과자
705570   1914    음료     음료

[705571 rows x 3 columns]

#데이터 행 출추
- iloc 사용

In [22]:
df1.iloc[10]

공급일자          2018-01-02
요일                     화
공급월                    1
공급주차                   1
회원번호          1177875136
조합원상태               정상회원
물품대분류                 채소
물품중분류               뿌리채소
물품소분류                 연근
물품명         통연근/세척(400g)
구매수량                 1.0
주소-구                 수지구
주소-동                풍덕천동
성별                     여
연령                  34.0
연령대                30대이하
구매금액                7179
구매매장                 매장C
반품_원거래일자             NaN
구매시각               10:19
Name: 10, dtype: object

In [23]:
df1.iloc[-1]

공급일자             2018-06-30
요일                        토
공급월                       6
공급주차                     26
회원번호              301961920
조합원상태                  정상회원
물품대분류                    음료
물품중분류                    음료
물품소분류                    빙과
물품명         포도꽁꽁(120ml)/매장용
구매수량                    1.0
주소-구                    수지구
주소-동                   풍덕천동
성별                        여
연령                     49.0
연령대                     40대
구매금액                   1914
구매매장                    매장A
반품_원거래일자                NaN
구매시각                  16:36
Name: 705570, dtype: object

In [24]:
df1.iloc[0:11] # 0부터 10까지의 행을 추출

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
6,2018-01-02,화,1,1,743192512,정상회원,채소,과일채소,딸기,딸기/(500g),1.0,수지구,성복동,여,51.0,50대,17038,매장C,NaN,10:12
7,2018-01-02,화,1,1,743192512,정상회원,채소,잎/줄기채소,어린잎채소,어린잎채소(100g),2.0,수지구,성복동,여,51.0,50대,11104,매장C,NaN,10:12
8,2018-01-02,화,1,1,743192512,정상회원,채소,양념채소,생강,생강(300g),1.0,수지구,성복동,여,51.0,50대,7083,매장C,NaN,10:12
9,2018-01-02,화,1,1,743192512,정상회원,채소,쌈채소류,쌈케일,쌈케일(150g),1.0,수지구,성복동,여,51.0,50대,2584,매장C,NaN,10:12
10,2018-01-02,화,1,1,1177875136,정상회원,채소,뿌리채소,연근,통연근/세척(400g),1.0,수지구,풍덕천동,여,34.0,30대이하,7179,매장C,NaN,10:19

In [25]:
df2 = df1.iloc[100:] # 100번째 행부터 끝까지 추출
df2.shape

(705471, 20)

In [26]:
df1

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

- 데이터 정렬

In [27]:
df1.sort_values(by='구매금액', ascending=False) # 구매금액을 기준으로 내림차순 정렬
# ascending=True로 설정하면 오름차순 정렬이 된다.
df1.head()

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

In [28]:
#구매수량 정리
df1.sort_values(by='구매수량', ascending=False) # 구매수량을 기준으로 내림차순 정렬

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665636,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),50.0,수지구,풍덕천동,여,51.0,50대,57432,매장A,NaN,17:22
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
382065,2018-04-09,월,4,15,1230917760,정상회원,수산,소금,가공소금,볶은왕소금(500g),50.0,기타,기타,남,43.0,40대,162725,매장C,NaN,17:45
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612002,2018-06-07,목,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),-43.0,수지구,풍덕천동,여,52.0,50대,-98784,매장C,20180606.0,19:38
663461,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-57432,매장A,20180621.0,17:22
665066,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),-50.0,수지구,풍덕천동,여,51.0,50대,-201014,매장A,20180621.0,17:22
664534,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),-50.0,수지구,풍덕천동,여,51.0,50대,-90935,매장A,20180621.0,17:22
663462,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-114865,매장A,20180621.0,17:22

In [29]:
# 구매수량이 높은 것 부터 정리하고,
# 구매수량이 50개인 것들 중에서 연령이 가장 낮을 사람들부터 정리하고, 싶은경우
# 정렬의 기준이 2개 이상인 경우

df1.sort_values(by=['구매수량', '연령']) # 구매수량을 기준으로 내림차순 정렬하고, 연령을 기준으로 오름차순 정렬
# df1.sort_values(by=['구매수량', '연령'], ascending=[False, True]) # 구매수량을 기준으로 내림차순 정렬하고, 연령을 기준으로 오름차순 정렬

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
663461,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-57432,매장A,20180621.0,17:22
663462,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-114865,매장A,20180621.0,17:22
664534,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),-50.0,수지구,풍덕천동,여,51.0,50대,-90935,매장A,20180621.0,17:22
665066,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),-50.0,수지구,풍덕천동,여,51.0,50대,-201014,매장A,20180621.0,17:22
612002,2018-06-07,목,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),-43.0,수지구,풍덕천동,여,52.0,50대,-98784,매장C,20180606.0,19:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386251,2018-04-09,월,4,15,1230917760,정상회원,반찬,절임/장아찌,절임,무쌈(300g),50.0,기타,기타,남,43.0,40대,191441,매장C,NaN,17:45
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
665636,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),50.0,수지구,풍덕천동,여,51.0,50대,57432,매장A,NaN,17:22

In [30]:
#구매수량은 높은 것부터 정리하고, 연령은 낮은 것부터 정리하고 싶은 경우
df1.sort_values(by=['구매수량', '연령'], ascending=[False, True]) # 구매수량을 기준으로 내림차순 정렬하고, 연령을

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
382065,2018-04-09,월,4,15,1230917760,정상회원,수산,소금,가공소금,볶은왕소금(500g),50.0,기타,기타,남,43.0,40대,162725,매장C,NaN,17:45
386251,2018-04-09,월,4,15,1230917760,정상회원,반찬,절임/장아찌,절임,무쌈(300g),50.0,기타,기타,남,43.0,40대,191441,매장C,NaN,17:45
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612002,2018-06-07,목,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),-43.0,수지구,풍덕천동,여,52.0,50대,-98784,매장C,20180606.0,19:38
663461,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-57432,매장A,20180621.0,17:22
663462,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-114865,매장A,20180621.0,17:22
664534,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),-50.0,수지구,풍덕천동,여,51.0,50대,-90935,매장A,20180621.0,17:22
665066,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),-50.0,수지구,풍덕천동,여,51.0,50대,-201014,매장A,20180621.0,17:22

In [31]:
# 데이터 행 추출
df1.sort_values(by=['구매수량', '연령'], ascending=[False, True]).iloc[:10]

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
382065,2018-04-09,월,4,15,1230917760,정상회원,수산,소금,가공소금,볶은왕소금(500g),50.0,기타,기타,남,43.0,40대,162725,매장C,NaN,17:45
386251,2018-04-09,월,4,15,1230917760,정상회원,반찬,절임/장아찌,절임,무쌈(300g),50.0,기타,기타,남,43.0,40대,191441,매장C,NaN,17:45
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
665636,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),50.0,수지구,풍덕천동,여,51.0,50대,57432,매장A,NaN,17:22
607549,2018-06-06,수,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),43.0,수지구,풍덕천동,여,52.0,50대,98784,매장C,NaN,10:35
659553,2018-06-20,수,6,25,157158656,정상회원,채소,열매채소,오이,오이(5개),40.0,수지구,신봉동,여,50.0,50대,168468,매장D,NaN,12:23
276072,2018-03-12,월,3,11,595068864,정상회원,양념/가루,가루,양념가루,카레(매운맛: 100g),40.0,수지구,신봉동,여,53.0,50대,206757,매장D,NaN,11:39
277720,2018-03-12,월,3,11,595068864,정상회원,양념/가루,가루,양념가루,카레(순한맛:100g),40.0,수지구,신봉동,여,53.0,50대,206757,매장D,NaN,11:39

# 데이터 필터
- 특정조건을 걸어서 추출

In [32]:
# 연령이 40대만 추출하고 싶은 경우
df1['연령대'].value_counts() # 연령대별로 몇명이 있는지 확인

연령대
40대      270573
50대      174458
30대이하    106392
60대       95019
70대이상     59096
Name: count, dtype: int64

In [33]:
df1['연령대'] == '40대' # 40대인 사람들만 추출하는 조건

0          True
1         False
2         False
3         False
4         False
          ...
705566    False
705567    False
705568    False
705569     True
705570     True
Name: 연령대, Length: 705571, dtype: bool

In [34]:
cond1 = (df1['연령대']== '40대')

In [35]:
df1.loc[cond1] # 조건을 걸어서 추출 #조건이 맞는 행을 모두 출력

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
17,2018-01-02,화,1,1,1049686784,정상회원,간식,식사대용,식사대용/기타,닭고기볶음밥(300g),1.0,수지구,풍덕천동,여,40.0,40대,5743,매장C,NaN,10:31
18,2018-01-02,화,1,1,164510272,정상회원,채소,양념채소,양파,양파(2kg),1.0,수지구,풍덕천동,여,42.0,40대,8711,매장C,NaN,10:32
19,2018-01-02,화,1,1,1185171072,정상회원,양념/가루,가루,양념가루,카레(순한맛:100g),1.0,수지구,풍덕천동,여,47.0,40대,5169,매장C,NaN,10:37
20,2018-01-02,화,1,1,1206815744,정상회원,채소,양념채소,대파,대파(700g),1.0,수지구,풍덕천동,여,42.0,40대,5265,매장C,NaN,10:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705556,2018-06-30,토,6,26,572193664,정상회원,반찬,두부/유부,콩가공/기타,콩국물(300g),1.0,수지구,풍덕천동,여,46.0,40대,2202,매장A,NaN,13:48
705560,2018-06-30,토,6,26,1333795840,정상회원,반찬,밑반찬,김가공,김부각(50g),1.0,수지구,풍덕천동,여,41.0,40대,7275,매장A,NaN,15:28
705561,2018-06-30,토,6,26,1333795840,정상회원,채소,잎/줄기채소,브로컬리,브로컬리(250g),1.0,수지구,풍덕천동,여,41.0,40대,3982,매장A,NaN,15:28
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

In [36]:
df1.loc[cond1].shape

(270573, 20)

In [37]:
#40대를 제외한 나머지 연령대의 사람들을 추출하고 싶은 경우
cond1 = (df1['연령대']!= '40대')
df1.loc[cond1] # 조건을 걸어서 추출 #조건이 맞는 행을 모두 출력

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705564,2018-06-30,토,6,26,1278913920,정상회원,수산,해조,김,구운김밥김(10장),1.0,수지구,동천동,여,39.0,30대이하,3446,매장A,NaN,16:43
705565,2018-06-30,토,6,26,867143616,정상회원,간식,빵,"케이크,롤,선물",플레인롤케이크(90g/조각롤),-1.0,기타,기타,여,60.0,60대,-6126,매장A,20180630.0,15:54
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37

In [38]:
#40대를 제외한 나머지 연령대의 사람들을 추출하고 싶은 경우
cond1 = (df1['연령대']== '40대')
df1.loc[~cond1] # '~'을 사용해서 반대대는 결과를 얻을 수 있음 조건을 걸어서 추출 #조건이 맞는 행을 모두 출력

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705564,2018-06-30,토,6,26,1278913920,정상회원,수산,해조,김,구운김밥김(10장),1.0,수지구,동천동,여,39.0,30대이하,3446,매장A,NaN,16:43
705565,2018-06-30,토,6,26,867143616,정상회원,간식,빵,"케이크,롤,선물",플레인롤케이크(90g/조각롤),-1.0,기타,기타,여,60.0,60대,-6126,매장A,20180630.0,15:54
705566,2018-06-30,토,6,26,146297344,정상회원,수산,건어물,멸치류,국물멸치(300g),1.0,수지구,성복동,여,51.0,50대,9189,매장A,NaN,17:56
705567,2018-06-30,토,6,26,1532985472,정상회원,수산,해조,미역/다시마,자른다시마(100g),1.0,수지구,동천동,여,63.0,60대,5169,매장A,NaN,14:37
705568,2018-06-30,토,6,26,1532985472,정상회원,반찬,두부/유부,두부,두부(1모:420g),2.0,수지구,동천동,여,63.0,60대,7466,매장A,NaN,14:37

In [39]:
# 40대 이면서 남성인 사람들을 추출하고 싶은 경우
df1['성별'].value_counts() # 성별별로 몇명이 있는지 확인

성별
여    662024
남     43542
Name: count, dtype: int64

In [40]:
cond1 = (df1['연령대'] == '40대') # 40대인 사람들만 추출하는 조건
cond2 = (df1['성별'] == '남성') # 남성인 사람들만 추출하는 조건
df1.loc[cond1 & cond2] #or 조건은 "|"을 사용한다 # 조건을 걸어서 추출 #조건이 맞는 행을 모두 출력

Empty DataFrame
Columns: [공급일자, 요일, 공급월, 공급주차, 회원번호, 조합원상태, 물품대분류, 물품중분류, 물품소분류, 물품명, 구매수량, 주소-구, 주소-동, 성별, 연령, 연령대, 구매금액, 구매매장, 반품_원거래일자, 구매시각]
Index: []

# 연습
 - 30대 여성 추출 -> 구매금액 높은 순서로 정렬
 - 파일로 저장

In [41]:
cond1 = (df1['연령대'] == '30대이하')
cond2 = (df1['성별'] == '여')

df1[cond1 & cond2]

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
10,2018-01-02,화,1,1,1177875136,정상회원,채소,뿌리채소,연근,통연근/세척(400g),1.0,수지구,풍덕천동,여,34.0,30대이하,7179,매장C,NaN,10:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705532,2018-06-30,토,6,26,1308979264,정상회원,축산물,닭/오리,무항생제닭,닭봉(300g/국내산),1.0,분당구,서현동,여,32.0,30대이하,8232,매장A,NaN,13:47
705543,2018-06-30,토,6,26,307368448,정상회원,양념/가루,소스/기타양념,기타양념,초고추장(300g),1.0,수지구,기타,여,38.0,30대이하,12444,매장A,NaN,15:53
705553,2018-06-30,토,6,26,1471123136,정상회원,반찬,두부/유부,유부,유부(70g),1.0,수지구,풍덕천동,여,33.0,30대이하,4977,매장A,NaN,17:14
705563,2018-06-30,토,6,26,1278913920,정상회원,간식,밀가공,생숙면,우동면(180g/1인분),3.0,수지구,동천동,여,39.0,30대이하,5743,매장A,NaN,16:43
705564,2018-06-30,토,6,26,1278913920,정상회원,수산,해조,김,구운김밥김(10장),1.0,수지구,동천동,여,39.0,30대이하,3446,매장A,NaN,16:43

In [43]:
#구매금액이 높은 순서로 정렬하고 싶은 경우
df3 = df1[cond1 & cond2].sort_values(by='구매금액', ascending=False) # 구매금액을 높은순으로 정렬
df3.shape

(94886, 20)

In [44]:
df3.to_csv('result.csv', encoding='cp949')  #한글이 깨지지 않게 하기 위해서는 encoding='utf-8-sig'를 사용한다.

# Serise
 - index - value
# dataFrame
 - index-column-value